<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fare Matrix</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="container">
        <div class="header">
            <a class="nav-a" asp-area="" asp-controller="Home" asp-action="Index">Fare Matrix</a>
        </div>
        <div class="nav">

            <a class="nav-a " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-a " id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="nav-a " id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    
        <div class="main">
            @RenderBody()
        </div>

        <div class="footer">
            &copy; 2021 - Perfv Group - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
